
body{
  background-color: blanchedalmond;
  
  font-family: "Montserrat", sans-serif;
  
}
.wrapper{
  background-color: white;
  border: 2px solid #546880;
}

header{
  background-color: darkgrey;
padding: 2rem;
display: flex;
justify-content: center;
align-items: center;
}

header h1{
  font-size: 300%;
  font-family: "Righteous", sans-serif;

}


header h2 {
  font-size: 200%;
}

 header figure{
  width: 200px;
  text-align: center;
  margin: 3em;
  font-size: 80%;
}

header img {
  border: 2px solid white;
  border-radius: 2rem;
  margin-bottom: .5em;
}

img {
  max-width: 100%;
  height: auto;
}

main{
  width: 960px;
  margin: 0 auto;
  font-size: 135%;
  line-height: 1.3;
  padding: 1em 0 0 0;
}

footer {
  background-color: darkgrey;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

footer a {
  font-size: 160%;
  text-decoration: none;
  color: black;
}
footer a :hover {
  color: blue;
  text-shadow: 0 0 5px white;
}
